<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<h2>How to shop?</h2>
<img src="assets/app.jpg" alt="Italian Trulli">
		<h6>It all comes down to personal preference when it comes to selecting the best artificial plants for your home
            . They have a variety of shapes and sizes to help you find the right fit, whether you want to create a tropical oasis. Large artificial plants will breathe new life into bedrooms,
             and <a href="https://foreverhedge.com.au/collections/artificial-plants">small artificial plants</a> will brighten bathroom windowsills. For a fashionable look, use patterned and pastel planters. Read this infographic to know more.</h6>
	</div>
</div>